body {
	padding-inline: var(--spacing);
}

h1 {
	text-align: center;
	margin: calc(var(--spacing) * 2) var(--spacing);
}

ul {
	padding: var(--spacing);
}

.list-image {
	--size: 16px;

	width: var(--size);
	height: var(--size);
}

.list-title {
	flex-grow: 1;
}
