* {
	box-sizing: border-box;
}

@property --input-angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 155deg;
}

:root {
	--main-color: white;

	--bg: color-mix(in srgb, var(--main-color) 25%, transparent);
	--bg-2: color-mix(in srgb, var(--main-color) 50%, transparent);

	--fg: var(--main-color);
	--fg-2: color-mix(in srgb, var(--main-color) 75%, transparent);

	--font-name: "MS Gothic";
	--font-name: serif;
	--font-size: 9pt;

	--animation-time: 150ms;
	--line-size: 2px;
	--spacing: 8px;

	@media (prefers-reduced-motion: reduced-motion) {
		--animation-time: 0ms;
	}
}

:root {
	font: var(--font-size) var(--font-name);
	color: var(--main-color);

	height: 100%;
}

body {
	background-color: var(--bg);
	margin: 0;

	height: 100%;
	display: flex;
	flex-direction: column;
}

hr {
	border: calc(var(--line-size) / 2) solid var(--fg);

	width: 100%;

	&[orientation="vertical"] {
		margin-block: var(--spacing);
	}

	&[orientation="horizontal"] {
		margin-inline: var(--spacing);
	}
}

input,
button {
	appearance: none;
	outline: none;
	background-color: transparent;
	border: none;
}

input {
	--angle-animation-time: calc(var(--animation-time) * 3);

	background-image: linear-gradient(var(--input-angle), var(--bg), transparent);
	padding: calc(var(--spacing) / 2) var(--spacing);

	width: 100%;

	transition: --input-angle var(--angle-animation-time);

	&:focus {
		--input-angle: -25deg;
		transition: --input-angle calc(var(--angle-animation-time) / 3);
	}
}

button {
	font-family: "laicon-solid";

	min-width: 16px;
	min-height: 16px;

	&:hover {
		background-color: var(--bg-2);
	}
}

progress {
	--bar-size-normal: 8px;
	--bar-size-small: var(--line-size);
	--dot-size: 4px;

	appearance: none;

	position: relative;
	width: 100%;
	height: var(--bar-size-normal);

	cursor: pointer;

	&::before {
		content: "";

		background-color: var(--main-color);

		position: absolute;
		width: var(--dot-size);
		height: var(--dot-size);
		left: calc(var(--value) - var(--dot-size) / 2);
		/*TODO*/
		top: var(--bar-size-small);
	}

	&:hover {
		--dot-size: var(--bar-size-normal);
		--bar-size-small: var(--bar-size-normal);

		transition: var(--animation-time);
	}

	&::-webkit-progress-bar {
		height: var(--bar-size-small);

		transition: var(--animation-time);
	}

	&::-webkit-progress-inner-element {
		display: flex;
		align-items: center;
	}

	&::-webkit-progress-bar {
		background-color: var(--bg);
	}

	&::-webkit-progress-value {
		background-color: var(--main-color);
	}
}

::-webkit-scrollbar {
	background-color: var(--bg);

	width: var(--line-size);
}

::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
}

::selection {
	text-decoration: underline;
}

h1 {
	font-size: var(--font-size);
	font-weight: bold;
	margin: 0;
}

ul {
	--gradient-size: calc(var(--spacing) * 4);

	margin: 0;

	width: 100%;

	&[mask="both"] {
		mask: linear-gradient(
			to bottom,
			transparent 0,
			black var(--gradient-size),
			black calc(100% - var(--gradient-size)),
			transparent 100%
		);
		padding-block: var(--gradient-size);
	}

	&[mask="top"] {
		mask: linear-gradient(
			to bottom,
			transparent 0%,
			black var(--gradient-size)
		);
		padding-block-start: var(--gradient-size);
	}

	&[mask="bottom"] {
		mask: linear-gradient(
			to bottom,
			black calc(100% - var(--gradient-size)),
			transparent 100%
		);
		padding-block-end: var(--gradient-size);
	}
}

li {
	gap: 1ch;
	padding: calc(var(--spacing) / 2) var(--spacing);

	display: flex;

	cursor: pointer;

	&:hover {
		background-color: var(--bg);
	}
}

.text-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;

	overflow: hidden;
}
