#proc-list-container {
	--row-width-pid: 6ch;
	--row-width-cmd: 100px;

	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#proc-list-header {
	gap: 1ch;
	padding: var(--spacing) calc(var(--spacing) * 2);

	display: flex;
}

#proc-list {
	background-color: var(--bg);
	padding: var(--spacing);

	overflow: hidden scroll;
	height: 100%;
}

#proc-stats {
	gap: var(--spacing);
	padding: var(--spacing) calc(var(--spacing) * 2);

	display: flex;
	flex-direction: column;

	label {
		gap: 1ch;
	}
}

.list-row-pid {
	min-width: var(--row-width-pid);
}

.list-row-cmd {
	min-width: var(--row-width-cmd);
	max-width: var(--row-width-cmd);
}
